/vendor/
composer.lock
app/storage/cache/data/*
app/storage/cache/annotations/*
app/storage/cache/metadata/*
app/storage/files/*
app/storage/logs/*
app/views/node_modules/
app/views/.nuxt/
app/views/dist/
olli-event-app*
**/*/*.env

!app/storage/files/.gitkeep
!app/storage/cache/data/.gitkeep
!app/storage/cache/annotations/.gitkeep
!app/storage/cache/metadata/.gitkeep
!app/storage/logs/.gitkeep
